body {
  margin: 0;
  color: aliceblue;
}

.section-1 {
  width: 100%;
  color: #3a3a3e;
  background-color: #fcfcfc;
  text-align: center;
  padding: 14px 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  text-transform: uppercase;
}



.section-2 {
  display: block;
  background-color: #b2e2d8;
  position: relative;
}

.section-2 {
  width: 100%;
}

.section-2-layout {
  width: 100%;
  max-width: 1200px;
}

 nav {
  height: 100px;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
}

nav ul {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;
  list-style: none;
  padding: 0;
  margin: 0;
  height: 100px;
}

nav ul li a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-size: 10px;
  font-weight: 100;
  transition: all 0.3s;
}

svg {
  width: 30px;
  height: 30px;
  fill: white;
  transition: all 0.3s;
}

svg:hover {
  fill: #E9EAEA;
}

.desktop-menu {
  display: none;
}

.burger-holder {
  display: flex;
  align-items: center;
  width: 20px;
  height: 80px;
}

.burger {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 20px;
  height: 20px;
  cursor: pointer;
  position: relative;
}

.burger div {
  width: 80%;
  height: 1px;
  background-color: whitesmoke;
  transition: all 0.4s;
}

[type="checkbox"] {
  display: none;
}

.left-menu {
  position: absolute;
  top: 0;
  left: -400px;
  width: 400px;
  background-color: white;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  transition: all 0.3s;
  margin: 0;
  z-index: 100;
  height: 100vh;
  list-style: none;
  padding: 130px 0 0 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-sizing: border-box;
}

.left-menu li a {
  text-decoration: none;
  color: black;
  font-size: 20px;
  font-weight: 300;
  transition: all 0.3s;
}

[type="checkbox"]:checked + .left-menu {
  left: 0;
}

li label {
  font-size: 15px;
  cursor: pointer;
  color: black;
}

li.m {
  transform: translate(120px, -100px);
}

.section-2-layout .section-2-layout-center img {
  width: 60px;
  height: auto;
  padding: 25px 0;
}








.section-3 {
  background-image: url("pictures/desktop.webp");
  height: flex;
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center top;
  position: relative;
  margin: 0;
  padding: 0;
  border: 0 none;
  box-sizing: border-box;
}

.section-3 .section-3-left,
.section-3 .section-3-right {
  width: 50%;
  height: 100%;
  display: flex;
 }

.section-3 .section-3-left {
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.section-3 .section-3-left h1 {
  margin-top: 40%;
  margin-left: 10%;
  color: #3a3a3e;
  font-family: var(--Righteous), var(--sans-sefir);
  font-weight: var(400);
  letter-spacing: var(0.1em);
  line-height: var(-1.8);
  word-break: normal;
}


.section-3 .section-3-left h2 {
  margin: 10px;
  margin-left: 10%;
  margin-top: flex;
  color: #7c6f74;
  font-size: 17px;
  display: table;
  width: 100%;
  height: 40%;
  vertical-align: bottom;
  text-transform: uppercase;
 
}







.section-4 {
  padding: 50px 0;
  text-align: center;
}

.section-4 img {
  width: 150px;
  padding: 20px;
  box-sizing: border-box;
}






.section-5 {
  background-color: #f6dfd9;
  padding: 5px 0;

}

.section-5 p {
   text-align: center;
   width: 100%;
  color: #3a3a3e;
  font-family: Tahoma, sans-serif;
  font-size: 15px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  animation-duration: 15s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }
  to {
    margin-left: 0%;
    width: 100%;
  }
}







.section-6 h3{
  color: #3A3A3E;
  padding: 30px 0;
  font-family: var(--Righteous),var(--sans-serif);
  font-weight: bold;
  font-size: 2em;
  letter-spacing: var(0.1em);
  box-sizing: border-box;
  text-align: center !important;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  display: block;
  width: 100%;
  height: auto;
}




.section-6 .section-6-img {
  max-width: 100px;
  min-width: 400px;
  margin-inline: auto;
 display: flex;
 gap: 1rem;
 justify-content: center;
 align-items: center;
 flex-flow: row nowrap;
 align-content: space-evenly;
 position: relative;
    
}
 


.section-6 .section-6-img .gray1 {
  border: none;
  padding: 10px;
  width: var(--img);
  position: relative;
  margin: 0 auto;
  height: 130px;
  overflow: hidden;
  top: 10px;
  left: 20px;
  transition: all 0.5s;
  object-fit: cover;
  flex-grow: 1;
  flex-basis: 100px;
}

.section-6 .section-6-img .gray2 {
   border: none;
  padding: 10px;
  width: var(--img);
  position: relative;
  margin: 0 auto;
  height: 130px;
  overflow: hidden;
  top: 10px;
  left: calc(var(--img) + 100%);
  transition: all 0.5s;
  object-fit: cover;
} 





.section-6 .section-6-img .dark1 {
  border: none;
  padding: 10px;
  width: var(--img);
  position: relative;
  margin: 0 auto;
  height: 130px;
  overflow: hidden;
  top: 10px;
  left: 20px;
  transition: all 0.5s;
  object-fit: cover;
  
}

.section-6 .section-6-img .dark2 {
   border: none;
  padding: 10px;
  width: var(--img);
  position: relative;
  margin: 0 auto;
  height: 130px;
  overflow: hidden;
  top: 10px;
  left: calc(var(--img) + 100%);
  transition: all 0.5s;
  object-fit: cover;
} 

.section-6 .section-6-img .beige1 {
  border: none;
  padding: 10px;
  width: var(--img);
  position: relative;
  margin: 0 auto;
  height: 130px;
  overflow: hidden;
  top: 10px;
  left: 20px;
  transition: all 0.5s;
  object-fit: cover;
  
}

.section-6 .section-6-img .beige2 {
   border: none;
  padding: 10px;
  width: var(--img);
  position: relative;
  margin: 0 auto;
  height: 130px;
  overflow: hidden;
  top: 10px;
  left: calc(var(--img) + 100%);
  transition: all 0.5s;
  object-fit: cover;
} 







.section-6-img:hover .gray1 {
  left: calc(-1 * (var(--img) + 40px));
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
.section-6-img:hover .gray2 {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.section-6-img:hover .dark1 {
  left: calc(-1 * (var(--img) + 40px));
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
.section-6-img:hover .dark2 {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.section-6-img:hover .beige1 {
  left: calc(-1 * (var(--img) + 40px));
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
.section-6-img:hover .beige2 {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
