* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

table,
td {
  border-collapse: collapse;
  border-spacing: 0px 0px;
}

table tr td {
  background-color: skyblue;
  border: 1px solid #dedede;
  border-collapse: collapse;
  padding: 2px 2px 2px 2px;
  width: 1000px;
  height: 150px;
  text-align: center;
}

table tr {
  color: beige;
}

h1,
h3 {
  text-align: left;
  color: aquamarine;
}

#index-html {
  text-align: left;
  color: orange;
  font-size: 20px;
}

#paragraph1 {
  text-align: center;
}

#azuoline-miegapele {
  color: red;
}

#index-list a {
  color: orange;
  font-size: 20px;
  text-decoration: none;
  font-weight: bold;
}

#index-list ol li::marker {
  color: gray;
  font-weight: bold;
}

table .animal-title {
  color: white;
}

table tr:last-child td:last-child {
  display: none;
  background-color: white;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
}
.image-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.image-container img {
  max-width: calc(100% / 3 - 10px);
  margin-bottom: 20px;
}
@media screen and (max-width: 768px) {
  .image-container img {
    max-width: calc(100% / 2 - 10px);
  }
}
@media screen and (max-width: 480px) {
  .image-container img {
    max-width: 100%;
  }
}

video {
  width: auto 100%;
  height: auto;
}

#index-list ul {
  color: white;
  position: static;
}

ul li {
  background: #cce5ff;
  color: darkblue;
  margin: 15px;
  margin-right: auto;
  width: fit-content;
  height: fit-content;
}

#Auksaspalvis-kirtiklis {
  color: pink;
  text-transform: uppercase;
  color: #4caf50;
}

#ph1 {
  color: pink;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
}

.pavad {
  color: chartreuse;
  text-transform: uppercase;
  text-decoration: underline solid red 50%;
}


#salys {
  color: darkgreen;
  margin: 20px;
  text-transform: uppercase;
  text-decoration: underline;
  animation: mymove 5s infinite;
}
@keyframes mymove {
  50% {
    text-decoration-color: red;    
  }