body {
  margin: 0;
  color: aliceblue;
}

.section-1 {
  width: 100%;
  color: #3a3a3e;
  background-color: #fcfcfc;
  text-align: center;
  padding: 14px 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  text-transform: uppercase;
}

.section-2 {
  width: 100%;
  display: block;
  background-color: #b2e2d8;
  position: relative;
  padding: 10px 0;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-left {
  display: flex;
  flex: 1;
  justify-content: left;
}

.box-center {
  flex: 1;
  text-align: center;
}

.box-center img {
  height: 64px;
}

.box-right {
  display: flex;
  flex: 1;
  justify-content: right;
  gap: 25px;
}

.section-2-layout {
  width: 100%;
  max-width: 1200px;
}

nav {
  display: flex;
  justify-content: space-between;
}

nav ul {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;
  list-style: none;
  padding: 0;
  margin: 0;
  height: 100px;
}

nav ul li a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-size: 10px;
  font-weight: 100;
  transition: all 0.3s;
}

svg {
  width: 30px;
  height: 30px;
  fill: white;
  transition: all 0.3s;
}

svg:hover {
  fill: #E9EAEA;
}

.desktop-menu {
  display: none;
}

.burger-holder {
  display: flex;
  align-items: center;
  width: 20px;
  height: 80px;
}

.burger {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 20px;
  height: 20px;
  cursor: pointer;
  position: relative;
}

.burger div {
  width: 80%;
  height: 1px;
  background-color: whitesmoke;
  transition: all 0.4s;
}

[type="checkbox"] {
  display: none;
}

.left-menu {
  position: absolute;
  top: 0;
  left: -400px;
  width: 400px;
  background-color: white;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  transition: all 0.3s;
  margin: 0;
  z-index: 100;
  height: 100vh;
  list-style: none;
  padding: 130px 0 0 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-sizing: border-box;
}

.left-menu li a {
  text-decoration: none;
  color: black;
  font-size: 20px;
  font-weight: 300;
  transition: all 0.3s;
}

[type="checkbox"]:checked+.left-menu {
  left: 0;
}

li label {
  font-size: 15px;
  cursor: pointer;
  color: black;
}

li.m {
  transform: translate(120px, -100px);
}

.section-2-layout .section-2-layout-center img {
  width: 60px;
  height: auto;
  padding: 25px 0;
}

.section-3 {
  display: flex;
  position: relative;
  padding: 0;
  border: 0 none;
  box-sizing: border-box;
  min-height: 250px;
}

.section-3 img {
  width: 100%;
  height: 450px;
  object-fit: cover;
}

.section-3-left {
  height: 100%;
  color: #5e2121;
}

.section-3-left-headers {
  position: absolute;
  bottom: 10%;
  left: 25%;
}

.section-3-left h1 {
  font-family: sans-serif;
  letter-spacing: 2px;
  line-height: 60px;
  font-weight: bolder;
}

.section-3-left h2 {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 2px;
}

.section-4 {
  padding: 170px 0;
  text-align: center;
}

.section-4 img {
  width: 220px;
  padding: 20px;
  box-sizing: border-box;
}

.section-4 img:nth-child(2) {
  width: 150px;
}

.section-5 {
  background-color: #f6dfd9;
  padding: 10px 0;
}

.section-5 {
  text-align: center;
  width: 100%;
}

.section-5 span {
  color: #3a3a3e;
  font-family: Tahoma, sans-serif;
  font-size: 20px;
  margin: 0 15px;
}

.announcement-container {
  width: 100%;
}

marquee {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  animation-duration: 10.5s;
}

.section-6 {
  min-height: 600px;
  padding-bottom: 50px;
}

.section-6 h3 {
  color: #3A3A3E;
  padding: 30px 0;
  font-family: var(--Righteous), var(--sans-serif);
  font-weight: bold;
  font-size: 2em;
  letter-spacing: var(0.1em);
  box-sizing: border-box;
  text-align: center !important;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.product-item-container {
  height: 450px;
  position: relative;
}

.product-item-container:hover {
  cursor: pointer;
}

.product-item-soldout-left {
  position: absolute;
  display: flex;
  background-color: #3a3a3e;
  text-transform: uppercase;
  padding: 3px 10px;
  font-size: 14px;
  height: 35px;
  align-items: center;
  z-index: 1;
}

.product-item-signs-container {
  display: flex;
  justify-items: right;
}

.product-item-add-sign-right {
  display: none;
}

.product-item-container:hover .product-item-signs-container .product-item-add-sign-right {
  position: absolute;
  display: flex;
  align-items: center;
  background-color: #3a3a3e;
  justify-content: center;
  text-align: center;
  text-transform: uppercase;
  line-height: 40px;
  font-size: 40px;
  width: 40px;
  height: 40px;
  z-index: 1;
  right: 0;
  border-radius: 50%;
  opacity: 0.5;
}

.product-item-description {
  display: block;
  color: black;
  text-align: center;
}

.image-container {
  display: flex;
  justify-content: center;
}

.image-wrapper {
  display: flex;
  gap: 50px;
}

.image-wrapper img {
  width: 388px;
  height: 388px;
}

.original-image,
.hover-image {
  width: 200px;
  height: auto;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.hover-image {
  display: none;
  border-radius: 5px;
}

.image-wrapper:hover .original-image {
  transform: scale(1.2);
  opacity: 0;
  display: none;
}

.image-wrapper:hover .product-item-add-sign-right {
  display: none !important;
}

.image-wrapper:hover .hover-image {
  display: block;
  transform: scale(1);
}

.section-6-button-container {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.section-6-custom-button {
  background-color: #3a3a3e;
  color: white;
  padding: 15px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.section-6-custom-button:hover {
  background-color: #555559;
}

.section-7 {
  position: relative;
  margin-bottom: -4px;
}

.section-7 .section-7-about {
  position: absolute;
  top: 25%;
  left: 20%;
  background-color: white;
  width: 380px;
  height: 390px;
  border-radius: 5px;
  color: #3a3a3e
}

.section-7-subtitle {
  text-transform: uppercase;
  letter-spacing: 4px;
  font-family: sans-serif;
  font-size: 12px;
  margin-bottom: 20px;
  padding: 40px 40px 0px 40px;
}

.section-7-title {
  font-size: 30px;
  letter-spacing: 4px;
  font-weight: bold;
  font-family: sans-serif;
  margin-bottom: 30px;
  padding: 0 40px 0px 40px;
}

.section-7-text {
  font-size: 15px;
  letter-spacing: 1px;
  font-family: sans-serif;
  margin-bottom: 30px;
  padding: 0 40px 5px 40px;
  line-height: 30px;
}

.section-7 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.section-8 {
  background-color: #3A3A3E;
  padding: 70px 0;
}

.section-8-container {
  margin: 0 auto;
  max-width: 1220px;
}

.section-8-subtitle {
  display: block;
  text-transform: uppercase;
  color: white;
  font-size: 13px;
  max-width: 1220px;
  margin-bottom: 10px;
}

.section-8-title {
  display: flex;
  justify-content: space-between;
}

.section-8-title-heading {
  font-size: 30px;
}

.section-8-title-custom-button {
  background-color: white;
  color: black;
  padding: 15px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.image-grid {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.image-item {
  text-align: center;
  margin: 0 5px;
}

.image-item img {
  border-radius: 5px;
  max-width: 100%;
  height: auto;
  display: block;
  margin-bottom: 10px;
}

.image-item img:hover {
  opacity: 0.9;
  transition: transform 2s ease-out 0s;
  cursor: pointer;
}

.image-item p {
  text-align: left;
  letter-spacing: 1px;
}

.image-item p.date {
  text-align: left;
  letter-spacing: 1px;
}

.section-9 {
  position: relative;
  padding: 50px 0;
  color: #3a3a3e;
  text-align: center;
}

.section-9 h2 {
  text-align: center;
  margin-bottom: 50px;
}

.section-9-container {
  display: flex;
}

.section-9-item {
  flex: 1;
  padding: 20px 20px;
  box-sizing: border-box;
  min-height: 260px;
  letter-spacing: 1px;
  font-size: 14px;
}

.section-9-item-p {
  padding: 20px 0;
  line-height: 30px;
  font-family: sans-serif;
}

.section-9-item:nth-child(2) {
  box-shadow: 0 6.7px 5.3px rgb(0 0 0 / 2%), 0 21.8px 33.4px rgb(0 0 0 / 6%);
  font-size: 15px;
}

.slider-navigation {
  list-style-type: none;
  display: flex;
  justify-content: center;
  padding: 0;
  margin-top: 30px;
}

ul.slider-navigation li:hover {
  background-color: #b4b4b4;
}

.nav-bullet {
  width: 8px;
  height: 8px;
  margin: 0 5px;
  background-color: #ccc;
  border-radius: 50%;
  cursor: pointer;
}

.nav-bullet.active {
  background-color: #333;
}

.section-10 {
  padding: 50px 0;
  color: #3a3a3e;
}

.section-10-container {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.section-10-container-left {
  width: 50%;
}

.section-10-container-right {
  width: 50%;
}

.thumbnails {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.thumbnail img:active {
  border: 2px solid #3a3a3e;
}

.image-gallery {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.thumbnails {
  display: flex;
  gap: 5px;
}

.thumbnail {
  width: 100px;
  height: 100px;
  margin-right: 10px;
  cursor: pointer;
}

.thumbnail:nth-child(1) {
  border: 1px solid #000;
}

.preview {
  margin-top: 20px;
}

#preview-image {
  width: 300px;
  height: 300px;
}

.section-10-container-right {
  font-family: sans-serif;
}

.section-10-container-right hr {
  border: none;
  height: 1px;
  background-color: #ccc;
  margin: 40px 0;
}

.section-10-subtitle {
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 1px;
  margin-bottom: 20px;
}

.section-10-title {
  font-weight: bold;
  font-size: 30px;
  letter-spacing: 1px;
  margin-bottom: 20px;
}

.section-10-price {
  letter-spacing: 1px;
  font-size: 17px;
}

.section-10-description {
  font-size: 13px;
  letter-spacing: 2px;
}

.quantity-control label {
  display: block;
  font-size: 13px;
  letter-spacing: 1px;
  margin-bottom: 10px;
}

.quantity-control input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.quantity-control {
  display: block;
  margin-bottom: 40px;
}

.add-to-cart {
  display: block;
  width: 100%;
  margin-bottom: 5px;
  background-color: #3a3a3e;
  color: white;
  padding: 15px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.add-to-cart:hover {
  background-color: #4f4f55;
}

.buy-with {
  display: block;
  width: 100%;
  background-color: #AC98F9;
  color: white;
  padding: 15px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.more-payment-options {
  display: block;
  width: 100%;
  background-color: white;
  color: #707075;
  padding: 15px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  letter-spacing: 1px;
}

.more-payment-options:hover {
  cursor: not-allowed;
}

.free-shipping-text {
  font-size: 11px;
  color: #707075;
  letter-spacing: 2px;
}